################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/MvcBasic/App_Data/MvcBasic.mdf
/MvcBasic/App_Data/MvcBasic_log.ldf
